<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704272791990-30mrk1rekg9qfvp7qqn74jekcqjjeok1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704272791990-30mrk1rekg9qfvp7qqn74jekcqjjeok1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>704272791990-k7e19oaub26k812vem6jsvg89drsmnpv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiclfYzapxJMW33Ofd-6QjYvIiqFNbAHw</string>
	<key>GCM_SENDER_ID</key>
	<string>704272791990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalterm</string>
	<key>PROJECT_ID</key>
	<string>cross-platform-final-term</string>
	<key>STORAGE_BUCKET</key>
	<string>cross-platform-final-term.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704272791990:ios:a0a12bb1ac71bfd68a6917</string>
	<key>DATABASE_URL</key>
	<string>https://cross-platform-final-term-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>